{% extends "base.html" %}

{% block content %}

<div class="row" id="articles">
  <a name="articles"></a>
  <div class="col-sm-12">
    <h2 class="homepage_category_title">Articles</h2>
  </div>
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <ul>
          {% for article in articles if article.category == "Articles" %}
          <li>
            <a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a>
          </li>
          {% else %}
          <li>Coming soon.</li>
          {% endfor %}
          <li>
            <a href="https://medium.com/@_danfriedman/shoot-for-the-job-you-cant-get-e4348c176d2b" target="_blank">
              Shoot for the job you can't get [how I got a job at Boosted Boards]
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="row" id="data-analysis">
  <a name="data-analysis"></a>
  <div class="col-sm-12">
    <h2 class="homepage_category_title">Data Analysis with pandas</h2>
  </div>
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="col-sm-12">
        <h5 class="homepage_subcategory_title">Data Wrangling with Pandas</h5>
        <hr>
      </div>
      <div class="panel-body">
        <ul>
          {% for article in articles if article.category == 'Data Analysis' and article.subcategory == 'Data Wrangling' %}
          <li>
            <a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a>
          </li>
          {% else %}
          <li>Coming soon.</li>
          {% endfor %}
        </ul>
      </div>

      <div class="col-sm-12">
        <h5 class="homepage_subcategory_title">Business Metrics</h5>
        <hr>
      </div>
      <div class="panel-body">
        <ul>
          {% for article in articles if article.category == 'Data Analysis' and article.subcategory == 'Business Metrics' %}
          <li>
            <a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a>
          </li>
          {% else %}
          <li>Coming soon.</li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="row" id="data-visualizations">
  <a name="dataviz"></a>
  <div class="col-sm-12">
    <h2 class="homepage_category_title">Data Visualization</h2>
  </div>
  <div class="col-sm-12">
    <div class="panel panel-default">
      
      <div class="col-sm-12">
        <h5 class="homepage_subcategory_title">Best Practices</h5>
        <hr>
      </div>
      <div class="panel-body">
        <ul>
          {% for article in articles if article.category == 'Data Visualizations' and article.subcategory == 'Best Practices' %}
          <li>
            <a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a>
          </li>
          {% else %}
          <li>Coming soon.</li>
          {% endfor %}
        </ul>
      </div>

      <div class="col-sm-12">
        <h5 class="homepage_subcategory_title">Matplotlib Plotting</h5>
        <hr>
      </div>
      <div class="panel-body">
        <ul>
          {% for article in articles if article.category == 'Data Visualizations' and article.subcategory == 'Matplotlib Plotting' %}
          <li>
            <a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a>
          </li>
          {% else %}
          <li>Coming soon.</li>
          {% endfor %}
        </ul>
      </div>

      <div class="col-sm-12">
        <h5 class="homepage_subcategory_title">Pandas Plots</h5>
        <hr>
      </div>
      <div class="panel-body">
        <ul>
          {% for article in articles if article.category == 'Data Visualizations' and article.subcategory == 'Pandas Plot' %}
          <li>
            <a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a>
          </li>
          {% else %}
          <li>Coming soon.</li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>


<div class="row" id="python">
  <a name="python"></a>
  <div class="col-sm-12">
    <h2 class="homepage_category_title">Python</h2>
  </div>
  <div class="col-sm-12">
    <div class="panel panel-default">
      
      <div class="col-sm-12">
        <h5 class="homepage_subcategory_title">Beginner Concepts</h5>
        <hr>
      </div>
      <div class="panel-body">
        <ul>
          {% for article in articles if article.category == 'Python' and article.subcategory == 'Beginner Concepts' %}
          <li>
            <a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a>
          </li>
          {% else %}
          <li>Coming soon.</li>
          {% endfor %}
        </ul>
      </div>

      <div class="col-sm-12">
        <h5 class="homepage_subcategory_title">Intermediate Concepts</h5>
        <hr>
      </div>
      <div class="panel-body">
        <ul>
          {% for article in articles if article.category == 'Python' and article.subcategory == 'Intermediate Concepts' %}
          <li>
            <a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a>
          </li>
          {% else %}
          <li>Coming soon.</li>
          {% endfor %}
        </ul>
      </div>

      <div class="col-sm-12">
        <h5 class="homepage_subcategory_title">Beginner Algorithms</h5>
        <hr>
      </div>
      <div class="panel-body">
        <ul>
          {% for article in articles if article.category == 'Python' and article.subcategory == 'Beginner Algorithms' %}
          <li>
            <a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a>
          </li>
          {% else %}
          <li>Coming soon.</li>
          {% endfor %}
        </ul>
      </div>

      <div class="col-sm-12">
        <h5 class="homepage_subcategory_title">Intermediate Algorithms</h5>
        <hr>
      </div>
      <div class="panel-body">
        <ul>
          {% for article in articles if article.category == 'Python' and article.subcategory == 'Intermediate Algorithms' %}
          <li>
            <a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a>
          </li>
          {% else %}
          <li>Coming soon.</li>
          {% endfor %}
        </ul>
      </div>

      <div class="col-sm-12">
        <h5 class="homepage_subcategory_title">Advanced Algorithms</h5>
        <hr>
      </div>
      <div class="panel-body">
        <ul>
          {% for article in articles if article.category == 'Python' and article.subcategory == 'Advanced Algorithms' %}
          <li>
            <a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a>
          </li>
          {% else %}
          <li>Coming soon.</li>
          {% endfor %}
        </ul>
      </div>

    </div>
  </div>
</div>

<div class="row" id="machine-learning">
  <a name="ml"></a>
  <div class="col-sm-12">
    <h2 class="homepage_category_title">Machine Learning</h2>
  </div>
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="col-sm-12">
        <h5 class="homepage_subcategory_title">Clustering</h5>
        <hr>
      </div>
      <div class="panel-body">
        <ul>
          {% for article in articles if article.category == 'Machine Learning' and article.subcategory == 'Clustering' %}
          <li>
            <a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a>
          </li>
          {% else %}
          <li>Coming soon.</li>
          {% endfor %}
        </ul>
      </div>

      <div class="col-sm-12">
        <h5 class="homepage_subcategory_title">Classification</h5>
        <hr>
      </div>
      <div class="panel-body">
        <ul>
          {% for article in articles if article.category == 'Machine Learning' and article.subcategory == 'Classification' %}
          <li>
            <a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a>
          </li>
          {% else %}
          <li>Coming soon.</li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="row" id="math">
  <a name="math"></a>
  <div class="col-sm-12">
    <h2 class="homepage_category_title">Math</h2>
  </div>
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="col-sm-12">
        <h5 class="homepage_subcategory_title">Descriptive Statistics</h5>
        <hr>
      </div>
      <div class="panel-body">
        <ul>
          {% for article in articles if article.category == 'Math' and article.subcategory == 'Descriptive Statistics' %}
          <li>
            <a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a>
          </li>
          {% else %}
          <li>Coming soon.</li>
          {% endfor %}
        </ul>
      </div>

      <div class="col-sm-12">
        <h5 class="homepage_subcategory_title">Inferential Statistics</h5>
        <hr>
      </div>
      <div class="panel-body">
        <ul>
          {% for article in articles if article.category == 'Math' and article.subcategory == 'Inferential Statistics' %}
          <li>
            <a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a>
          </li>
          {% else %}
          <li>Coming soon.</li>
          {% endfor %}
        </ul>
      </div>

      <div class="col-sm-12">
        <h5 class="homepage_subcategory_title">Distributions</h5>
        <hr>
      </div>
      <div class="panel-body">
        <ul>
          {% for article in articles if article.category == 'Math' and article.subcategory == 'Distributions' %}
          <li>
            <a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a>
          </li>
          {% else %}
          <li>Coming soon.</li>
          {% endfor %}
        </ul>
      </div>

      <div class="col-sm-12">
        <h5 class="homepage_subcategory_title">Miscellaneous</h5>
        <hr>
      </div>
      <div class="panel-body">
        <ul>
          {% for article in articles if article.category == 'Math' and article.subcategory == 'Miscellaneous' %}
          <li>
            <a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a>
          </li>
          {% else %}
          <li>Coming soon.</li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="row" id="santa-clara-university-teaching">
  <a name="scu"></a>
  <div class="col-sm-12">
    <h2 class="homepage_category_title">Santa Clara University Teaching</h2>
  </div>
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <ul>
          {% for article in articles if article.category == 'Teaching' %}
          <li>
            <a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a>
          </li>
          {% else %}
          <li>Coming soon.</li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>

{% endblock %}