{% extends "base.html" %}

{% block head %}
{{ super() }}
{% endblock %}

{% block content %}

<section id="content" class="body">
	<div class="row">
	  <div class="col-sm-4">
	    <img src="https://dfrieds.com/theme/images/dfrieds-profile-color.png" type="image/png">
	  </div>
	 
	  <div class="col-sm-8 vertical-container">
	    <h2>Hi! I'm Dan Friedman.</h2>
	    <p>I love learning about practical applications of data and techniques of data engineering, data science and coding. The goal of 
			this site is to help solidify my knowledge of these topics and hopefully make them easy to learn for others.
		</p>
		<p>I have years of engineering and data science experience. I've worked for WeWork, consulting for the Chan Zuckerberg
			Initiative, Tesla Motors and Boosted Boards. I cofounded and co-organized the first
			<a href="https://mhacks.org/">MHacks</a> - a hackathon at University of Michigan. I'm a graduate of Metis
			and the University of Michigan.</p>

		<p>
			My technical skills: Python, Pandas, Spark, Airflow, SQL, AWS, Docker, Terraform, data viz, analytics and ML
		</p>

	    <p>I have a plethora of interests in fields. Want to talk data engineering or science, new opportunities or something else, 
			email me at dan@dfrieds.com</p>

	    <p><a href="https://twitter.com/_DanFriedman">Twitter</a> | <a href="https://www.linkedin.com/in/dfrieds/">LinkedIn</a> | <a href="https://github.com/frieds">Github</a></p>
	  </div>
	</div>

	<div class="row">
		<div class="col-sm-12">
			<h2>Experience</h2>
			<div class="company_header_info">
				<h4 class="company_title">Data Consulting</h4>
				<p class="company_duration">2017 - present</p>
			</div>
					<ul>
						<li>Research for <a href="https://chanzuckerberg.com/" target="_blank">Chan Zuckerberg Initiative</a> (CZI): inferred 30-40% of U.S. adults with criminal records, ~25M people, are eligible for criminal record expungement. Insights helped CZI lobby regulators for state and federal legislation of automatic record clearance solutions.</li>
						<li>Gathered continual insights on anonymous criminal record dataset of ~60K records to relay to CZI to ensure continued funding of project.</li>
						<li>Engineering for <a href="https://www.tesla.com/" target="_blank">Tesla Motors</a>: created Python library for drive simulation hardware to programmatically control car’s 12V battery; tests used to validate various aspects of Model 3’s design.</li>
						<li>Designed and taught curriculum for 11-week master’s business analytics course in Python at <a href="https://www.scu.edu/business/ms-business-analytics/" target="_blank">Santa Clara University</a> for 30 students; received positive reviews from students.</li>
						<li>Created Random Forest classifier predicting trial rate conversion for <a href="https://truecoach.co/" target="_blank">personal trainer app</a> with ROC AUC score of 0.88; model assisted team to interact with leads more efficiently.</li>
						<li>Discovered drop-offs in user onboarding flow for trainer signups on app; suggested recommendations that were adopted by developers to redesign flow.</li>
					</ul>
			<div class="company_header_info">
				<h4 class="company_title">WeWork - Data Scientist</h4>
				<p class="company_duration">2019</p>
			</div>
					<ul>
						<li>Investigated user behavior flows in community manager app, found unexpected user patterns in
							event creation process and made suggestions on how to improve user experience</li>
						<li>Setup instrumentation, designed metrics and built dashboards to measure new features</li>
					</ul>
			<div class="company_header_info">
				<h4 class="company_title">TargetX - Data Scientist</h4>
				<p class="company_duration">2017 - 2018</p>
			</div>
				<ul>
					<li>Designed and implemented lead scoring model using engagement in <a href="https://www.targetx.com/solutions/schools-app/" traget="_blank">social network app</a> that estimated student college enrollment likelihood; guided Director of Admissions on outreach.</li>
					<li>Implemented XGBoost classifier that predicted admitted college students’ likelihood to enroll.</li>
					<li>Analyzed trends in customer data and produced 30+ data visualizations using Python and Plotly that were featured in <a href="https://www.targetx.com/targetx-insights/" target="_blank">customer-facing product</a>.</li>
					<li>Identified bottlenecks in email deliverability product through SQL queries and development of internal Chartio dashboards; insights used by support for diagnosis and helped engineers identify bugs and reduce time to send.</li>
					<li>Created metrics and visualizations to highlight product value for renewal sales decks; helped close multiple $15K+ annual contracts.</li>
				</ul>
			<div class="company_header_info">
				<h4 class="company_title">Boosted Boards - Engineering & Marketing</h4>
				<p class="company_duration">2014 - 2016 (took ~6 month sabbatical)</p>
			</div>
				<ul>
					<li>Developed software for electrical test rack using multiple sensors & libraries; collected data and ran experiments to report on performance of lithium ion batteries in cold weather temperatures.</li>
					<li>Provided evidence for engineers to make hardware and software changes before production by identifying outliers and issues in riding telemetry.</li>
					<li>Created KPIs for engineering teams evaluating product performance from test riders highlighting engineering efforts towards hardware launch goals.</li>
					<li>Designed and executed on demo and rental offerings at newly partnered retail stores; trained team of contractors to manage on events; substantially increased revenue.</li>
				</ul>
		</div>
	</div>

</section>

{% endblock %}






