<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-97459416-1"> 
  </script>

  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-97459416-1');
  </script>

  <meta name="author" content="Dan Friedman">
  <meta name="geo.region" content="CA">
  <meta property="og:locale" content="en_us">
  <meta name="robot" content="all">
  <meta name="referrer" content="always">
  <meta property="fb:profile_id" content="1357771151">
  <meta property="og:type" content="website" />
  <meta property="og:site_name" content="Dan Friedman's Data & Programming Knowledge Base">

  <meta property="og:see_also" content="https://twitter.com/_DanFriedman"/>
  <meta property="og:see_also" content="https://www.linkedin.com/in/danfriedman33/"/>
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@_DanFriedman">
  <meta name="twitter:image" content="https://pbs.twimg.com/profile_images/950134514113691648/7dt7ECh2_400x400.jpg" />

  <meta name="keywords" content="data and coding tutorials">

  <meta name="description" content="">
  <meta property="og:description"  content="">
  <meta name="twitter:description" content="">

  <meta property="og:title" content="Dan Friedman's Data & Programming Knowledge Base">
  <meta name="twitter:title" content="Dan Friedman's Data & Programming Knowledge Base">

  <link rel="canonical" href="https://dfrieds.com">
  <!--bing webmaster code below-->
  <meta name="msvalidate.01" content="01628C1544F6EB42EC489F1F4C545F79" />

  <title>Dan Friedman's Data & Programming Knowledge Base</title>

  <!-- Latest compiled and minified Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  <link rel="stylesheet" href="https://dfrieds.com/theme/css/ie10-viewport-bug-workaround.css" />
  
  <!-- Custom styles for this template -->
  <link rel="stylesheet" href="https://dfrieds.com/theme/css/style.css" />
  <link rel="stylesheet" href="https://dfrieds.com/theme/css/notebooks.css" />
  
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800,900" rel="stylesheet">
  <link href="https://dfrieds.com/feeds/all.atom.xml" type="application/atom+xml" rel="alternate" title="Dan Friedman's Data & Programming Knowledge Base Full Atom Feed" /> 

  <!-- Start of Async Drift Code -->
  <script>
    !function() {
      var t;
      if (t = window.driftt = window.drift = window.driftt || [], !t.init) return t.invoked ? void (window.console && console.error && console.error("Drift snippet included twice.")) : (t.invoked = !0, 
        t.methods = [ "identify", "config", "track", "reset", "debug", "show", "ping", "page", "hide", "off", "on" ], 
        t.factory = function(e) {
          return function() {
            var n;
            return n = Array.prototype.slice.call(arguments), n.unshift(e), t.push(n), t;
          };
        }, t.methods.forEach(function(e) {
          t[e] = t.factory(e);
        }), t.load = function(t) {
          var e, n, o, i;
          e = 3e5, i = Math.ceil(new Date() / e) * e, o = document.createElement("script"), 
          o.type = "text/javascript", o.async = !0, o.crossorigin = "anonymous", o.src = "https://js.driftt.com/include/" + i + "/" + t + ".js", 
          n = document.getElementsByTagName("script")[0], n.parentNode.insertBefore(o, n);
        });
      }();
    drift.SNIPPET_VERSION = '0.3.1';
    drift.load('83xk3ceba36c');
  </script>
  <!-- End of Async Drift Code -->
</head>

<body>
  <nav class="navbar navbar-expand-sm fixed-top">
    <div class="container">
      <a class="navbar-brand" href="https://dfrieds.com/">Dan<span class="green">_</span>Friedman</a>
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggle-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="nav navbar-nav mr-auto">
        </ul>
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Tutorials</a>
              
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="https://dfrieds.com/#data-analysis">Data Analysis with Pandas</a>
                <a class="dropdown-item" href="https://dfrieds.com/#dataviz">Data Visualizations</a>
                <a class="dropdown-item" href="https://dfrieds.com/#python">Python</a>
                <a class="dropdown-item" href="https://dfrieds.com/#ml">Machine Learning</a>
                <a class="dropdown-item" href="https://dfrieds.com/#math">Math</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://dfrieds.com/#articles">Articles</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://dfrieds.com/about">About</a>
            </li>
          </ul>
      </div>
    </div>
  </nav>

  <!-- end of header section -->
  <div class="container">
    <section id="content" class="body">
      <div class="row">
        <div class="col-sm-4">
          <img src="https://dfrieds.com/theme/images/dfrieds-profile-color.png" type="image/png">
        </div>
      
        <div class="col-sm-8 vertical-container">
          <h2>Hi! I'm Dan Friedman.</h2>
          <p>I love learning about practical applications of data and techniques of software engineering and data analysis. The goal of 
          this site is to help solidify my knowledge of these topics and hopefully make them easy to learn for others.
          </p>
          <p>I have years of engineering and data science experience. I've worked for WeWork, consulted for the Chan Zuckerberg
            Initiative, Tesla Motors and Boosted Boards. I cofounded and co-organized the first
            <a href="https://mhacks.org/">MHacks</a> - a hackathon at University of Michigan. I'm a graduate of Metis
            and the University of Michigan.</p>
          <p>My technical skills: Python, Pandas, DBT, Airflow, SQL, AWS (S3, Lambda, Kinesis, Redshift, Glue, Athena), Docker, Terraform, 
            data viz, analytics and ML</p>
          <p>I have a plethora of interests in fields. Want to talk data engineering or science, new opportunities or something else, email me 
            at dan@dfrieds.com</p>
          <p><a href="https://twitter.com/_DanFriedman">Twitter</a> | <a href="https://www.linkedin.com/in/dfrieds/">LinkedIn</a> | <a href="https://github.com/frieds">Github</a></p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12"> 
          <p>Products I love and recommend, and would greatly appreciate your support too:
            <ul>
              <li>
                <a href="www.getdbt.com" target="_blank">dbt</a> (data build tool): free & open source command line tool that enables data analysts and engineers to transform 
                data in their data warehouses more effectively. dbt was initially created by Fishtown Analytics who also offers a SaaS product with a web IDE called <a href="
                cloud.getdbt.com" target="_blank">dbt Cloud</a>. They have an active <a href="https://github.com/fishtown-analytics/dbt" target="_blank">open source community on GitHub</a> 
                and would love contributors. I recommend joining their active <a href="https://slack.getdbt.com/" target="_blank">slack community</a> too. 
              </li>
              <li>
                <a href="https://pandas.pydata.org/" target="_blank">pandas</a> is an open source Python library that makes it easier to do data analysis through table-like 
                data structures called dataframes & series. There are a large number and easy-to-use selection of methods on these data structures. 
              </li>
              <li>
                <a href="https://airflow.apache.org/" target="_blank">Apache Airflow</a> is an open source library to create and manage workflows - essentially
                an order for execution of a bash statement, python script, SQL operation or any number of operations.
              </li>
              <li>
                <a href="https://spark.apache.org/" target="_blank">Apache Spark</a> is an open source distributed general-purpose cluster-computing framework. Essentially 
                you have one data store and use multiple machines & CPUs to run operations in parallel.
              </li>
              <li>
                <a href="https://www.python.org/" target="_blank">Python</a> is a programming language widely used for web applications, data science, and more. Python is high-level,
                interpreted and a general purpose programming language.
              </li>
            </ul>  
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <h2>Experience</h2>
          <div class="company_header_info">
            <h4 class="company_title">Software Development & Data Consulting</h4>
            <p class="company_duration">2017 - present</p>
          </div>
              <ul>
                <li>Research for <a href="https://chanzuckerberg.com/" target="_blank">Chan Zuckerberg Initiative</a> (CZI): inferred 30-40% of U.S. adults with criminal records, ~25M people, are eligible for criminal record expungement. Insights helped CZI lobby regulators for state and federal legislation of automatic record clearance solutions.</li>
                <li>Gathered continual insights on anonymous criminal record dataset of ~60K records to relay to CZI to ensure continued funding of project.</li>
                <li>Engineering for <a href="https://www.tesla.com/" target="_blank">Tesla Motors</a>: created Python library for drive simulation hardware to programmatically control car’s 12V battery; tests used to validate various aspects of Model 3’s design.</li>
                <li>Designed and taught curriculum for 11-week master’s business analytics course in Python at <a href="https://www.scu.edu/business/ms-business-analytics/" target="_blank">Santa Clara University</a> for 30 students; received positive reviews from students.</li>
                <li>Created Random Forest classifier predicting trial rate conversion for <a href="https://truecoach.co/" target="_blank">personal trainer app</a> with ROC AUC score of 0.88; model assisted team to interact with leads more efficiently.</li>
                <li>Discovered drop-offs in user onboarding flow for trainer signups on app; suggested recommendations that were adopted by developers to redesign flow.</li>
              </ul>
          <div class="company_header_info">
            <h4 class="company_title">WeWork - Data Scientist</h4>
            <p class="company_duration">2019</p>
          </div>
              <ul>
                <li>Designed database schema for Redshift tables utilizing star schema; constructed SQL queries
                  to move data from staging to production tables (ELT); used Airflow to schedule workflow.</li>
                <li>Investigated user behavior flows in community manager app, found unexpected user patterns in
                  event creation process and made suggestions on how to improve user experience</li>
                <li>Setup instrumentation, designed metrics and built dashboards to measure new features</li>
              </ul>
          <div class="company_header_info">
            <h4 class="company_title">TargetX - Data Scientist</h4>
            <p class="company_duration">2017 - 2018</p>
          </div>
            <ul>
              <li>Designed and implemented lead scoring model using engagement in <a href="https://www.targetx.com/solutions/schools-app/" traget="_blank">social network app</a> that estimated student college enrollment likelihood; guided Director of Admissions on outreach.</li>
              <li>Implemented XGBoost classifier that predicted admitted college students’ likelihood to enroll.</li>
              <li>Analyzed trends in customer data and produced 30+ data visualizations using Python and Plotly that were featured in <a href="https://www.targetx.com/targetx-insights/" target="_blank">customer-facing product</a>.</li>
              <li>Identified bottlenecks in email deliverability product through SQL queries and development of internal Chartio dashboards; insights used by support for diagnosis and helped engineers identify bugs and reduce time to send.</li>
              <li>Created metrics and visualizations to highlight product value for renewal sales decks; helped close multiple $15K+ annual contracts.</li>
            </ul>
          <div class="company_header_info">
            <h4 class="company_title">Boosted Boards - Engineering & Marketing</h4>
            <p class="company_duration">2014 - 2016 (took ~6 month sabbatical)</p>
          </div>
            <ul>
              <li>Developed software for electrical test rack using multiple sensors & libraries; collected data and ran experiments to report on performance of lithium ion batteries in cold weather temperatures.</li>
              <li>Provided evidence for engineers to make hardware and software changes before production by identifying outliers and issues in riding telemetry.</li>
              <li>Created KPIs for engineering teams evaluating product performance from test riders highlighting engineering efforts towards hardware launch goals.</li>
              <li>Designed and executed on demo and rental offerings at newly partnered retail stores; trained team of contractors to manage on events; substantially increased revenue.</li>
            </ul>
        </div>
      </div>

    </section>

  </div>
  
  <!-- start of footer section -->
  <footer class="footer">
    <div class="container">
      <p class="text-muted">
      Thank you for reading my content! This project is available on <a href="https://github.com/frieds/frieds.github.io">GitHub</a>.
      <br/>
      Copyright &copy; Dan Friedman,
      <time datetime="2020">2020</time>.
      </p>
    </div>
  </footer>

  <!-- JQuery -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E="
  crossorigin="anonymous"></script>


  <!--removes the numbered input element for each code block-->
  <script>
  $(".prompt").remove();
  </script>

  <!-- Latest compiled and minified Bootstrap JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  <script src="https://dfrieds.com/theme/js/ie10-viewport-bug-workaround.js"></script>

</body>
</html>