/* ---------------------------------------------------------
Tables
---------------------------------------------------------*/

.body table,tr,th,td {
    font-family: sans-serif;
    border: 1px solid black;
    border-collapse: collapse;
    /*font-size:1em;*/
    padding: 4px !important;
    margin: 1em 0 2em 0;
}

.body td, th {
    text-align: left;
    vertical-align: middle;
    padding: 4px;
    word-break: break-all;
    min-width: 5ch;
}

 .body th {
    font-weight: bold;
    display: table-cell !important;
}

/* ugly fix for table header issues. */

/* ---------------------------------------------------------
Images
---------------------------------------------------------*/

 img {
    max-width: 100%;
    margin: 4rem auto;
    display: block;
}

/* ---------------------------------------------------------
Render Math
---------------------------------------------------------*/

div.math {
    font-size: 1.35em;
}
