/* ---------------------------------------------------------
Tables
---------------------------------------------------------*/

.body table,tr,th,td {
    font-family: sans-serif;
    border: 1px solid black;
    border-collapse: collapse;
    /*font-size:1em;*/
    padding: 10px !important;
    margin: 1em 0 2em 0;
}

.body td, th {
    text-align: left;
    vertical-align: middle;
    padding: 4px;
    word-break: break-all;
}

 .body th {
    font-weight: bold;
}

/* ---------------------------------------------------------
Images
---------------------------------------------------------*/

 img {
    max-width: 100%;
    height: auto;
    width: 100%\9; /* ie8 */
    display:block;
}

/* ---------------------------------------------------------
Render Math
---------------------------------------------------------*/

div.math {
    font-size: 1.35em;
}

/* ---------------------------------------------------------
Inline Code
---------------------------------------------------------*/

 /*p code{
    font-size: 14px;}
*/