/* ---------------------------------------------------------
Code Cell Highlighting
Source: http://www.sebastianraschka.com/CSS/codehilite.css
---------------------------------------------------------*/

.hll { background-color: #ffffcc }
.c { color: #408080; font-style: italic } /* Comment */
.err { border: 1px solid #FF0000 } /* Error */
.k { color: #494845; font-weight: bold } /* Keyword */
.o { color: #666666 } /* Operator */
.cm { color: #408080; font-style: italic } /* Comment.Multiline */
.cp { color: #BC7A00 } /* Comment.Preproc */
.c1 { color: #408080; font-style: italic } /* Comment.Single */
.cs { color: #408080; font-style: italic } /* Comment.Special */
.gd { color: #A00000 } /* Generic.Deleted */
.ge { font-style: italic } /* Generic.Emph */
.gr { color: #FF0000 } /* Generic.Error */
.gh { color: #000080; font-weight: bold } /* Generic.Heading */
.gi { color: #00A000 } /* Generic.Inserted */
.go { color: #888888 } /* Generic.Output */
.gp { color: #000080; font-weight: bold } /* Generic.Prompt */
.gs { font-weight: bold } /* Generic.Strong */
.gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.gt { color: #0044DD } /* Generic.Traceback */
.kc { color: #494845; font-weight: bold } /* Keyword.Constant */
.kd { color: #494845; font-weight: bold } /* Keyword.Declaration */
.kn { color: #494845; font-weight: bold } /* Keyword.Namespace */
.kp { color: #494845 } /* Keyword.Pseudo */
.kr { color: #494845; font-weight: bold } /* Keyword.Reserved */
.kt { color: #B00040 } /* Keyword.Type */
.m { color: #666666 } /* Literal.Number */
.s { color: #00ac82 } /* Literal.String */
.na { color: #7D9029 } /* Name.Attribute */
.nb { color: #494845 } /* Name.Builtin */
.nc { color: #00ac82; font-weight: bold } /* Name.Class */
.no { color: #880000 } /* Name.Constant */
.nd { color: #AA22FF } /* Name.Decorator */
.ni { color: #999999; font-weight: bold } /* Name.Entity */
.ne { color: #D2413A; font-weight: bold } /* Name.Exception */
.nf { color: #00ac82 } /* Name.Function */
.nl { color: #A0A000 } /* Name.Label */
.nn { color: #00ac82; font-weight: bold } /* Name.Namespace */
.nt { color: #494845; font-weight: bold } /* Name.Tag */
.nv { color: #19177C } /* Name.Variable */
.ow { color: #AA22FF; font-weight: bold } /* Operator.Word */
.w { color: #bbbbbb } /* Text.Whitespace */

/* Following tags changes to black color to avoid MathJax conflicts */
.mf { color: #000000 } /* Literal.Number.Float */
.mh { color: #000000 } /* Literal.Number.Hex */
.mi { color: #000000 } /* Literal.Number.Integer */
.mo { color: #000000 } /* Literal.Number.Oct */

.sb { color: #00ac82 } /* Literal.String.Backtick */
.sc { color: #00ac82 } /* Literal.String.Char */
.sd { color: #00ac82; font-style: italic } /* Literal.String.Doc */
.s2 { color: #00ac82 } /* Literal.String.Double */
.se { color: #BB6622; font-weight: bold } /* Literal.String.Escape */
.sh { color: #00ac82 } /* Literal.String.Heredoc */
.si { color: #BB6688; font-weight: bold } /* Literal.String.Interpol */
.sx { color: #494845 } /* Literal.String.Other */
.sr { color: #BB6688 } /* Literal.String.Regex */
.s1 { color: #00ac82 } /* Literal.String.Single */
.ss { color: #19177C } /* Literal.String.Symbol */
.bp { color: #494845 } /* Name.Builtin.Pseudo */
.vc { color: #19177C } /* Name.Variable.Class */
.vg { color: #19177C } /* Name.Variable.Global */
.vi { color: #19177C } /* Name.Variable.Instance */
.il { color: #666666 } /* Literal.Number.Integer.Long */



/* ---------------------------------------------------------
Tables
---------------------------------------------------------*/

.body table,tr,th,td{
    font-family: sans-serif;
    border:1px solid black;
    border-collapse:collapse;
    font-size:1em;
    padding: 8px !important;
    margin: 1em 0 2em 0;
  }

.body td, th{
    text-align:left;
    vertical-align:middle;
    padding:4px;
    word-break:break-all;}

 .body th{font-weight:bold;}

/* ---------------------------------------------------------
Images
---------------------------------------------------------*/

 img{
    max-width: 100%;
    height: auto;
    width: 100%\9; /* ie8 */
    display:block;}

/* ---------------------------------------------------------
Render Math
---------------------------------------------------------*/

div.math{
    font-size: 1em;
}

/* ---------------------------------------------------------
Inline Code
---------------------------------------------------------*/

 p code{
    font-size: 14px;}
