
/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  font-size: 13px;
  background-color: #fff;
  font-family: 'Open Sans', sans-serif;
  }

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
}

a {
    color: #038f6d;
}

a:hover {
    color: #038f6d;
}


/* Primary CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.navbar-collapse {
  width:100%;
}
.navbar-fixed-top {
  border-bottom: 2px solid #00ac82;
}

.herocurve {
     background-image: url("../images/bg_green.png");
     background-size: cover;
     background-position: center 99%;
     height: 560px;
     display: table;
     width: 100%;
     margin: auto;

}

.navbar-toggle {
  background-image: url("../images/burger.png")!important;
  background-size: 30px !important;    
  background-repeat: no-repeat !important;
  background-color: none !important;
  border: none !important;
  padding: 13px 15px !important;
  margin-top: 20px;
}

body > .container {
  padding: 30px 15px 0;
  color: #424242;
  font-family: 'Open Sans', sans-serif;
}

.container {
  max-width: 960px;
}

.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

.panel-body {
  -webkit-columns: 384px 1;
   -moz-columns: 384px 1;
        columns: 384px 1;
}

.navbar-nav > li {
  margin-right: 20px;
  margin-top: 16px;
  list-style: none;
}

.article-details {
  margin-top: 30px;
  font-size: 14px;
}

.article-details dd {
  margin-bottom: 6px;
}


@media (min-width: 480px) {
  .panel-body {
    -webkit-columns: 384px 2;
     -moz-columns: 384px 2;
          columns: 384px 2;
  }
  .herotitle {
    font-size: 36px;
  }
  
}

@media (max-width: 767px) {
  .navbar-header  {
      background: #fff;

  }
  .navbar-nav > li {
     float: left !important;
  width: 100% !important;
  }
}

.navbar {
    background-color: #fff;
}

.navbar-header  {
      line-height: 60px;
      color: #00ac82;
   
  }
.navbar-header > a {
  color: #00ac82;
  font-weight: 700;
  font-size: 15px;
  padding: 0 0 0 15px;
}

.navbar-toggle .icon-bar {
    background-color: white;
}

.navbar .navbar-brand, .navbar .navbar-brand:hover {
  color: #1b222b;
  
  font-weight: 900;
  letter-spacing: -0.025em;
  font-size: 24px;
  line-height: 40px;
}

.navbar .navbar-brand:hover {
  background: #fff;
}


.container {
  position: relative;
}

.heroplaceholder {
  position: absolute;
  right: 0;
  width: 45%;
  height: auto;
  background: #fff;
  border: 2px solid rgba(0,88,88,0.1);
  border-radius: 3px;
  margin-right: 15px;
  margin-left: 15px;
}

.btn-outline-frieds {
  background: none;
  border: 2px solid #fff;
  color: #fff;
  margin-bottom: 50px;
  margin-top: 15px;
  padding: 10px 15px;
  font-size: 16px;
  -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

.btn-outline-frieds:hover {
  background: #fff;
  color: #00ac82;
  border: 2px solid #fff;

}
.btn-outline-frieds:focus, .btn-outline-frieds:active {
  background: #fff;
  color: #00ac82;
  border: 2px solid #fff;

}

@media (max-width: 767px) {
  .navbar .navbar-brand, .navbar .navbar-brand:hover  {
      -webkit-clip-path: none;
      clip-path: none;
  }
}

.navbar-nav > li > a {
  color: #00ac82;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 40px;
  /* -webkit-clip-path: polygon(7% 0%, 100% 0%, 93% 100%, 0% 100%);
  clip-path: polygon(7% 0%, 100% 0%, 93% 100%, 0% 100%);
  font-style: italic; */
}



@media (max-width: 767px) {
  .navbar-nav > li > a  {
      -webkit-clip-path: none;
      clip-path: none;
  }
  .heroplaceholder {
      display: none;
    }
}

.navbar-nav > li > a:hover, .navbar-nav > li > a:active {
  background-color: #fff;
}



.nav .dropdown.open > a, .nav .dropdown.open > a:hover, .nav .dropdown.open > a:focus {
    background-color: #fff;
}

.dropdown-menu {
  border: none;
  padding: 15px;
}

.dropdown-menu > a {
 float: left;
 clear: both;
 margin-bottom: 15px;
}
.dropdown-menu > a:last-child {
  margin-bottom: 0px;
}



.footer {
  border-top: 1px solid #ddd;
  font-size: 15px;
}

.page-header {
    border-bottom: none;
    text-align: center;
    margin: 60px 0 0 0;
    font-weight: 800 !important;
}

#content {
    margin-bottom: 13px;
    margin-top: 13px;
}

.article_content p, .article_content li, .homepage-blurb p{
    font-family: 'Open Sans', sans-serif;
    color: #333333;
    letter-spacing: -0.02px;
    font-size: 15px;
}


.homepage-blurb {
  margin-bottom: 60px;
}

.index-page-title {
    font-size: 32px;
    font-weight: 700;
}

.panel-default > .panel-heading {
    background-color: #fff;
}
.panel-default {
  border-right: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.panel {
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    margin-bottom: 40px;
}

pre {
    /*background-color: #fbfbfb !important;*/
    border: 0px solid #DEDEDE;
    border-radius: 0px;
    font-size: 13px;
    margin: 15px 0;
    font-size: 13px;
}

pre:last-child {
  /*background: none !important;*/
}

.panel {
    border-radius: 0px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0);
    background: transparent;
}

.dropdown-menu {
    border: 1px solid #eee;
    border-width: 0px 1px 1px 1px;
    border-radius: 0px;
}

.dropdown {
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0);
}

@media (max-width: 767px) {}
    .navbar-nav .open .dropdown-menu {
        background: #fff;
    }
    .herocurve {
      padding:0 5% ;

  }
  .herotitle {
   max-width: 100% !important;
  }
}

.panel-body li a, .panel-body li{
  font-size: 15px;
  font-weight: 600;
  }

 .panel-body li {
  font-size: 15px;
  font-weight: 600;
  list-style: none;
  margin-bottom: 17px;
  margin-left: 0px;
  }

.body li {
    font-size: 16px;
}

.body li li{
    font-size: 16px;
}

h2.homepage_category_title {
    background-color: #00ac82;
    color: #fff;
    padding: 12px;
    margin: 0;
    border-top-right-radius: 5px; 
    border-top-left-radius: 5px;
    border-top: solid 1px #ccc;
    border-left: solid 1px #ccc;
    border-right: solid 1px #ccc;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 0.05em
    }

h3.panel-title {
  font-size: 17px;
  }

p {
  font-size: 16px;
  margin: 20px 0 20px 0;
}

header {
    margin-bottom: 12px;
}

header > h1 {
    margin-top: 30px;
    }

header time {
    font-size: 15px;
    color: #666;
}


/* Header sizes
-------------------------------------------------- */

h1,
.h1 {
  font-size: 30px;
  font-weight: 500;
}
h2,
.h2 {
  font-size: 26px;
  font-weight: 500;
}
h3,
.h3 {
  font-weight: bold;
  padding-top:30px;
}
h4,
.h4 {
  font-size: 20px;
  font-weight: bold;
  padding-top:30px;
  margin-bottom: 13px;

}
h5,
.h5 {
  font-size: 18px;
  font-weight: 500;
}
h6,
.h6 {
  font-size: 14px;
  font-weight: italic;
}

header > h1 {
  font-weight: bold;
}

/* Bug reporting box
-------------------------------------------------- */

.bug-reporting__panel{
    padding: 12px;
    border: solid 1px #dddddd;
    margin-top: 3em;

}

.bug-reporting__panel h3{
    margin: 0 0 10px 0;
    font-size: 18px;
}

.bug-reporting__panel p{
    margin: 0;
    font-size: 16px;
}


.input-group-addon {
    padding: 6px 12px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1;
    color: #fff;
    text-align: center;
    background-color: #ec352f;
    border: 0px solid #ccc;
    border-radius: 0px;
}

.form-control {
    border: 0px solid #ccc;
    border-radius: 0px;
}

.navbar-right {
    margin-left: 20px;
}

@media (max-width: 480px) {
    .navbar-right {
        margin-left: 0;
    }
    .heroplaceholder {
      display: none;
    }
    .herocurve {
      padding: 5% 0 ;

  }
  .navbar-nav > li {
     float: left !important;
  width: 100% !important;
  }
  .page-header {
    border-bottom: none;
    text-align: center;
    margin: 30px 0 0 0;
    font-weight: 800 !important;
}
  .herocurve {
    height: 100px;
  }

}




.breadcrumb {
    padding: 0;
    margin:15px 0 40px 0;
    list-style: none;
    background-color: transparent;
    border-radius: 0;
}

.breadcrumb > li {
    font-size: 15px;
    color: #666;
}

.breadcrumb > li + li:before {
  color:#aaa;
}

.panel-body {padding: 15px;}

.panel-body ul {
    padding-left: 20px;
}


code {
    padding: 2px 4px;
    font-size: 15px;
    color: #696969;
    background-color: #F5F5F5;
    border-radius: 4px;
}


blockquote p {
    margin: 0;
    color: #696969;
    font-style: italic;
}

.search-query {
  outline: none;
  border: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}

.flashcard {
  max-height: 400px !important;
  -webkit-box-shadow: 8px 8px 5px -4px rgba(140,140,140,0.8);
  -moz-box-shadow: 8px 8px 5px -4px rgba(140,140,140,0.8);
  box-shadow: 8px 8px 5px -4px rgba(140,140,140,0.8);
}

.advert {
}

/* CUSTOM STUFF
-------------------------------------------------- */
.hrgreen {
  height:6px;
  width: 80px;
  background: #00ac82;
  margin: 40px 0;
}

.row {
  /*margin: 30 0;*/
}

.highlight > pre {
  /*background: #f3fbf6 !important;*/
}

.headerbargreen {
  height: 6px;
  width: 100%;
  background: #00ac82;
  /*position: fixed;*/
  z-index: 10;
}

.green {
  color: #00ac82;
}

.herotext {
  color:#222;
  text-align: left;
  line-height: 1.5em;
  font-size: 1.1em;
}

.herotext > a {
  color: #333;
  border-bottom: 1px solid #333;
}

.herotext > a:hover {
  text-decoration: none;
}

.hero {
  border-bottom: 0px;
  padding: 160px 0 120px 0;
  text-align: center; 
}

.herotitle {
 /*text-transform: uppercase;*/
 font-size: 42px;
 font-family: 'Open Sans', sans-serif;
 font-weight: 900;
 letter-spacing: 0.015em;
 color: #fff;
 line-height: 52px;
 text-align: left;
 max-width: 360px !important;
}

.herotitlecontainer {
  height: 100%;
  display: table-cell;
  vertical-align: middle;
  padding-bottom: 4%;
  }

.herotitlecontainer > div > p{
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  max-width: 280px !important;

}

.tutorialtitle {
  font-size: 28px;
  font-weight: 600;
}

.green-font {
  color: #00ac82;;
}