/* High level styles*/

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  font-size: 13px;
  background-color: #fff;
  font-family: 'Open Sans', sans-serif;
}

body > .container {
  padding: 30px 15px 0;
  color: #424242;
  font-family: 'Open Sans', sans-serif;
}

.container {
  max-width: 960px;
  position: relative;
}

.container .text-muted {
  margin: 20px 0;
}

/*Navbar styles*/

hr {
  margin: 20px 0 -15px 0;
}

.navbar-collapse {
  width:100%;
}
.navbar-fixed-top {
  border-bottom: 2px solid #00ac82;
}

.navbar-toggle {
  background-image: url("../images/burger.png")!important;
  background-size: 30px !important;    
  background-repeat: no-repeat !important;
  background-color: none !important;
  border: none !important;
  padding: 13px 15px !important;
  margin-top: 20px;
}

.navbar-nav > li {
  margin-right: 20px;
  margin-top: 16px;
  list-style: none;
}

.navbar-header  {
  line-height: 60px;
  color: #00ac82;
}

.navbar-header > a {
  color: #00ac82;
  font-weight: 700;
  font-size: 15px;
  padding: 0 0 0 15px;
}

.navbar-toggle .icon-bar {
  background-color: white;
}

.navbar .navbar-brand, .navbar .navbar-brand:hover {
  color: #1b222b;
  font-weight: 900;
  letter-spacing: -0.025em;
  font-size: 24px;
  line-height: 40px;
}

.navbar .navbar-brand:hover {
  background: #fff;
}

.navbar-nav > li > a:hover, .navbar-nav > li > a:active {
  background-color: #fff;
}

.nav .dropdown.open > a, .nav .dropdown.open > a:hover, .nav .dropdown.open > a:focus {
  background-color: #fff;
}

.navbar-right {
  margin-left: 20px;
}

.navbar-nav > li > a {
  color: #00ac82;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 40px;
}

.dropdown-menu {
  border: none;
  padding: 15px;
  border: 1px solid #eee;
  border-width: 0px 1px 1px 1px;
  border-radius: 0px;
}

.dropdown-menu > a {
  float: left;
  clear: both;
  margin-bottom: 15px;
}

.dropdown-menu > a:last-child {
  margin-bottom: 0px;
}

.dropdown {
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0);
}


/*Hero Styles*/

.herocurve {
  background-image: url("../images/bg_green.webp");
  background-image: url("../images/bg_green.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 100%;
  height: 560px;
  display: table;
  width: 100%;
  margin: auto;
}

.herotext {
  color:#222;
  text-align: left;
  line-height: 1.5em;
  font-size: 1.1em;
}

.herotext > a {
  color: #333;
  border-bottom: 1px solid #333;
}

.herotext > a:hover {
  text-decoration: none;
}

.hero {
  border-bottom: 0px;
  padding: 160px 0 120px 0;
  text-align: center; 
}

.herotitle {
  font-size: 42px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 900;
  letter-spacing: 0.015em;
  color: #fff;
  line-height: 52px;
  text-align: left;
  max-width: 360px !important;
}

.herotitlecontainer {
  height: 100%;
  display: table-cell;
  vertical-align: middle;
  padding-bottom: 4%;
}

.herotitlecontainer > div > p{
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  max-width: 280px !important;
}

.heroplaceholder {
  position: absolute;
  right: 0;
  width: 45%;
  height: auto;
  background: #fff;
  border: 2px solid rgba(0,88,88,0.1);
  border-radius: 3px;
  margin-right: 15px;
  margin-left: 15px;
}

.btn-outline-frieds {
  background: none;
  border: 2px solid #fff;
  color: #fff;
  margin-bottom: 50px;
  margin-top: 15px;
  padding: 10px 15px;
  font-size: 16px;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.btn-outline-frieds:hover {
  background: #fff;
  color: #00ac82;
  border: 2px solid #fff;
}

.btn-outline-frieds:focus, .btn-outline-frieds:active {
  background: #fff;
  color: #00ac82;
  border: 2px solid #fff;
}

/*Front Page Tutorial Lists*/

.panel-default > .panel-heading {
  background-color: #fff;
}

.panel-default {
  border-right: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.panel {
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  margin-bottom: 40px;
  border-radius: 0px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0);
  background: transparent;
}

.panel-body li a, .panel-body li{
  font-size: 17px;
  font-weight: 500;
  line-height: 24px;
  display: inline-block;
  width: 100%;
}

.panel-body li {
  font-size: 15px;
  font-weight: 600;
  list-style: none;
  padding: 10px 0; 
}


/* Article Styles*/

.tutorialtitle {
  font-size: 28px;
  font-weight: 600;
}

.article_info, .article_info > li  {
  list-style: none;
  margin: 1px 0;
  padding: 0 !important;
  font-size: 15px !important;
  
}


.article_info {
  margin: 0 0 45px 0; 
  color: #999
  font-size:15px;

}

.tagarticle{
  color: #999 ;
  font-style: italic;
}


.panel-body {
  -webkit-columns: 384px 1;
  -moz-columns: 384px 1;
  columns: 384px 1;
  padding: 30px 15px;
}

.panel-body ul {
  padding-left: 20px;
}

.article-details {
  margin-top: 30px;
  font-size: 14px;
}

.article-details dd {
  margin-bottom: 6px;
}

#content {
  margin-bottom: 13px;
  margin-top: 13px;
}

.article_content p, .article_content li, .homepage-blurb p{
  font-family: 'Open Sans', sans-serif;
  color: #333333;
  letter-spacing: -0.02px;
  font-size: 15px;
}

.article_content > h2 {
  margin-top: 60px;
}

pre {
  border: 0px solid #DEDEDE;
  border-radius: 0px;
  font-size: 13px;
  margin: 15px 0;
  font-size: 13px;
}


/*Media Queries*/

@media (min-width: 480px) {
  .panel-body {
    -webkit-columns: 384px 2;
    -moz-columns: 384px 2;
    columns: 384px 2;

  }
  .herotitle {
    font-size: 36px;
  }
}

@media (max-width: 480px) {
  .python {
    display: none;
  }

  .data-visualizations {
    display: none;
  }

  .navbar-brand {
    padding: 15px 0px !important;
  }

  .navbar-right {
    margin-left: 0;
  }
  .heroplaceholder {
    display: none;
  }
  .herocurve {
    padding: 5% 0 ;

  }
  .navbar-nav > li {
    float: left !important;
    width: 100% !important;
  }
  .page-header {
    border-bottom: none;
    text-align: center;
    margin: 30px 0 0 0;
    font-weight: 800 !important;
  }
  .herocurve {
    height: 100px;
  }
}

@media (max-width: 767px) {
  .python {
    display: none;
  }

  .data-visualizations {
    display: none;
  }

  .navbar-header  {
    background: #fff;
  }

  .navbar-nav > li {
    float: left !important;
    width: 100% !important;
  }

  .navbar .navbar-brand, .navbar .navbar-brand:hover  {
    -webkit-clip-path: none;
    clip-path: none;
  }

  .navbar-nav > li > a  {
    -webkit-clip-path: none;
    clip-path: none;
  }

  .heroplaceholder {
    display: none;
  }

  .navbar-nav .open .dropdown-menu {
    background: #fff;
  }

  .herocurve {
    padding:0 5% ;
  }

  .herotitle {
    max-width: 100% !important;
  }

  .navbar-brand {
    padding: 15px 0px !important;
  }
}


/* Font Styles */

a {
  color: #038f6d;
}

a:hover {
  color: #038f6d;
}

.body li {
  font-size: 16px;
}

.body li li {
  font-size: 16px;
}

h2.homepage_category_title {
  background-color: #00ac82;
  color: #fff;
  padding: 16px;
  margin: 0;
  border-top-right-radius: 5px; 
  border-top-left-radius: 5px;
  border-top: solid 1px #ccc;
  border-left: solid 1px #ccc;
  border-right: solid 1px #ccc;
  font-size: 22px;
  font-weight: 600;
  letter-spacing: 0.05em
}

h3.panel-title {
  font-size: 17px;
}

h5.homepage_subcategory_title {
  font-size: 18px;
  color: #585858;
}

p {
  font-size: 16px;
  margin: 20px 0 20px 0;
}

header {
  margin-bottom: 12px;
}

header > h1 {
  margin-top: 30px;
}

header time {
  font-size: 15px;
  color: #666;
}

.green {
  color: #00ac82;
}

.articleh1{
  margin: 0px 0px 20px 0px !important;
}

/* Header sizes
-------------------------------------------------- */

h1,
.h1 {
  font-size: 30px;
  font-weight: 500;
}

h2,
.h2 {
  font-size: 26px;
  font-weight: 500;
}

h3,
.h3 {
  font-weight: bold;
  padding-top:30px;
}

h4,
.h4 {
  font-size: 20px;
  font-weight: bold;
  padding-top: 30px;
  margin-bottom: 13px;
}

h5,
.h5 {
  font-size: 16px;
  font-weight: 500;
  color: #333;
  margin-top: 35px;
}

h6,
.h6 {
  font-size: 14px;
  font-weight: italic;
}

header > h1 {
  font-weight: bold;
}

.posttype {
  color: #999;
  font-size: 14px;
  line-height: 18px;
  margin: 0 0 20px 0;
}


code {
  padding: 2px 4px;
  font-size: 15px;
  color: #696969;
  background-color: #F5F5F5;
  border-radius: 4px;
}

blockquote p {
  margin: 0;
  color: #696969;
  font-style: italic;
}

